@import "tailwindcss";

@font-face {  
    font-family: 'shabnam';  
    src: url('./assets/fonts/sahel/Sahel.ttf') format('truetype');  
    font-weight: normal;  
    font-style: normal;  
}  

@theme{
    --color-primary: #7f9169
}

